.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
    --primary-color: #07689f;
    --secondary-color: #a2d5f2;
    --accent-color: #ff7e67;
}

body {
  margin: 30px;
  font-family: sans-serif;
  line-height: 1.5;
  background: ghostwhite;
}

h1 {
    color: var(--primary-color);
    font-size: 32pt;
    font-weight: 200;
    padding-top: 30px;
}

h2 {
    color: var(--primary-color);
    font-size: 24pt;
}
h3 {
  color: var(--accent-color);
  font-size: 18pt;
}

.button {
  text-align: center;
  background-color: var(--accent-color);
  border-radius:6px;
  padding:8px 24px;
  border:1px solid grey;
  display:inline-block;
  color: whitesmoke;
}

.button:hover {
  background-color: var(--primary-color);  
}

.sidebar {
  grid-area: sidebar;
  text-align: center;
  line-height: 1;
  height: 300px;

}

.content {
  grid-area: content;
  line-height: 1;
}

.header {
  grid-area: header;
  text-align: center;
  line-height: 1;
}

.wrapper {
  color: #444;
  width: 100%;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
   "header"
   "sidebar"
   "content"
   "footer"
}

@media only screen and (min-width: 550px)  {
  .wrapper {
    grid-template-columns: 30% auto;
    grid-template-areas:
    "header   header"
    "sidebar  content"
    "footer   footer";
  }
}

@media only screen and (min-width: 650px)   {
  .wrapper {
      grid-gap: 20px;
      grid-template-columns: 30% auto 120px;
      grid-template-areas:
      "header  header  header"
      "sidebar content content"
      "footer  footer  footer";
      max-width: 900px;
    }
}

.box {
  border-color: #444;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;

}

.nav {
  background-color: var(--secondary-color);
  margin: -30px;
  position: relative;
  padding: 10px;
  height: 50px;
  border-bottom: 2px solid grey;
  text-align: left;
}

.nav a {
  font-weight: bolder;
  font-size: medium;
  text-decoration: none;
  color: var(--accent-color);
  text-transform: uppercase;
  text-align: left;
  margin: 7px;
}

#btcRow {
  display: flex;
}

#btcRow-hidden {
  display: none;
}

#ethRow {
  display: flex;
}

#ethRow-hidden {
  display: none;
}

#ltcRow {
  display: flex;
}

#ltcRow-hidden {
  display: none;
}

#usdRow {
  display: flex;
}

#usdRow-hidden {
  display: none;
}

.checkbox {
  line-height: 2.5;
  transform:scale(1.5, 1.5);
  text-align: center;
  display: block;

}